<div id="<%= dom_id(item)%>">
    <p>
    <strong>Name:</strong>
    <%= item.name %>
  </p>

   <p>
    <strong>Desc:</strong>
   <%= item.description %>
  </p>
<p>
    <strong>Qty:</strong>
   <%= item.quantity%>
  </p>
</div>
